<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Accueil</a></li>
                <li class="active"><a href="/about">A propos de nous<span class="sr-only">(current)</span></a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="jumbotron">
                    <h1>Un peu plus sur nous</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit sapien lectus, a aliquet
                        ante imperdiet blandit. Phasellus rutrum turpis eget mi pharetra, non laoreet tortor vehicula.
                        Duis hendrerit odio mi, a commodo neque ullamcorper sit amet. Donec in tempus tellus. Proin
                        maximus dolor id erat sollicitudin, eu laoreet odio tincidunt. Suspendisse est erat, cursus id
                        turpis tempor, aliquam pellentesque velit. Praesent ut viverra diam, accumsan feugiat felis.
                        Phasellus mollis consectetur lectus, eget condimentum turpis pellentesque posuere. Aliquam erat
                        volutpat. In eu ullamcorper eros, sit amet vulputate nibh. Sed orci metus, aliquet sed vulputate
                        a, placerat non elit. In tristique hendrerit augue at congue. Aliquam eu tellus neque.
                        Vestibulum eu euismod diam.
                    </p>
                    <p>
                        Phasellus quis rhoncus nulla. Cras viverra ornare dui, a venenatis lorem varius et. Nunc semper,
                        tortor a porttitor malesuada, magna lectus aliquet nunc, sed vestibulum nibh risus vel ante.
                        Curabitur vitae tellus vitae urna eleifend egestas. Duis ac rutrum arcu. Duis rhoncus feugiat
                        eros, nec lobortis metus blandit a. Nullam volutpat suscipit est, malesuada venenatis nunc
                        vehicula sed. Donec eget mauris vitae elit elementum efficitur. Aenean consequat eget dui quis
                        vehicula.
                    </p>
                    <p>
                        Aliquam fringilla, odio consectetur volutpat interdum, sapien velit luctus magna, ac
                        pellentesque urna erat quis enim. Nulla lectus risus, ultrices eget sapien non, condimentum
                        congue purus. Proin risus tellus, laoreet ac viverra in, laoreet non felis. Aliquam auctor leo
                        eu rhoncus semper. Curabitur lacinia tincidunt orci, ac dignissim tortor mattis quis.
                        Pellentesque mattis dapibus nibh, nec placerat tellus. Praesent molestie enim et hendrerit
                        facilisis. Aliquam condimentum facilisis ex, id euismod elit sodales ut. Nullam viverra, metus
                        quis consectetur ullamcorper, tellus enim scelerisque ipsum, ac aliquam erat diam et lacus.
                        Donec consectetur, erat eu blandit semper, magna est laoreet risus, id elementum leo ex et ex.
                        Donec at enim eget arcu sagittis faucibus in vel lacus. Integer quis magna enim. Quisque sed
                        nunc nec tortor lobortis egestas.
                    </p>
                    <p>
                        Nullam tempor viverra metus, eu vestibulum nibh bibendum et. Aenean pellentesque sapien est, sed
                        laoreet justo vehicula id. Nullam dapibus pellentesque leo in semper. Sed a sem ultricies nunc
                        iaculis pulvinar. Etiam a fringilla nulla. Mauris rutrum leo non metus commodo, vel viverra
                        sapien pharetra. Sed ultrices ex sed nunc sodales sodales. In hac habitasse platea dictumst. Sed
                        congue magna elit, convallis euismod neque elementum in. Etiam pharetra ipsum ac dapibus
                        tincidunt. Mauris sodales vitae quam non faucibus.
                    </p>
                    <p>
                        Morbi elementum sapien purus, a iaculis eros tincidunt id. Proin blandit ultricies eros, in
                        gravida eros. Etiam tellus enim, vulputate non finibus et, ullamcorper at est. Sed ut justo
                        molestie, imperdiet ligula a, porta libero. Nam ultrices posuere leo. Aliquam convallis luctus
                        dapibus. Maecenas nec arcu vitae lacus egestas lacinia. Mauris et posuere metus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>